@import "./components/navbar.css";
@import "./blog/index.css";

:root {
    --primary: #adc1c9;
    --secondary: #505f66;

    --link: #d4cba4;
    --link-hover: #ccbe7e;

    --background: #2c2c36;
    --background-text: #eef4f9;
}

html, body {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
    background-color: var(--background);   
    color: var(--background-text);
}

a, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

hr {
    color: var(--secondary);
    border-style: solid;
}

#entrypoint {
    display: flex;
    padding: 2em;
}

.maincontent {
    padding: 1em;
}

.maincontent > * {
    margin-top: 0;
}

@media only screen and (max-width: 50em) {
    #entrypoint {
        flex-direction: column;
    }
}