.navbar {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    text-align: center;
    align-items: center;

    height: auto;
    width: 10em;

    padding: 1em;

    background-color: var(--secondary);
    border-radius: 20px;
}

.navbar a {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 0.5em;
}

@media only screen and (max-width: 50em) {
    .navbar {
        height: min-content;
        width: min-content;
        flex-direction: row;
    }

    .navbar > a {
        margin-left: 1em;
        padding-top: 0;
    }
}